html {
    font-family: sans-serif, verdana,"open sans";
}

body {
    min-width: 40em;
    margin: 1em 2em;
}

#contact {
    float: left;
    margin: 1em 19em;
    width: 38em;
}

#iscontact {
    float: left;
    margin: 3em 3em;
    text-align: center;
}

#alexcontact {
    margin: 1em;
    text-align: center;
}

#iscontact a, #alexcontact a {
    color: #0000ee;
}

#map {
    margin: 2em;
    text-align: center;
}

big {
    font-size: 1.7em;
}

#header {
    text-align: center;
    font-size: 1.2em;
    padding: .5em 0;
}

h1 {
    margin: 0;
}

#smallTittle {
    font-size: .5em;
}

#header a {
    text-decoration: none;
    color: #80a;
}

#main {
    float: left;
    width: calc(100% - 0.1em);
    padding: 1em;
    background-color: #efefef;
    border: lightgrey inset .1em;
}

#sidebar {
    float: left;
    width: 10.75em;
    padding: 0 0.5em;
    background-color: #efefef;
    margin-left: -13.9em;
    position: relative;
    left: 15em;
    border: lightgrey inset .1em;
    border-bottom: none;
}

p {
    margin: 0 0 1em 0;
}

#navDiv {
    float: left;
    width: 11em;
    padding: 0 0.5em;
    background-color: #efefef;
    margin-left: -100%;
    position: relative;
    right: 15em;
    height: auto;
    overflow-y: scroll;
    border: lightgrey inset .1em;
}

#nav {
    color: white;
    margin: 0;
    padding: 0;
    float: none;
}

#nav a {
    color: black;
    text-decoration: none;
}

#nav a li {
    padding: 0 0.5em;
    margin: 0.1em 0;
}

#nav li:hover {
    border: 0.1em outset white;
}

#nav li:active {
    border: 0.1em inset white;
}

#footer {
    clear: left;
    border-top: 1px solid #369;
        border: lightgrey inset .1em;
}

#wrapper {
    margin: 0 14em 0 12em;
    padding: 0 1em;
    display: relative;
}

.container {
    overflow: hidden;
    background-color: #EEE;
}

.column {
    float: left;
    background-color: transparent;
    padding-bottom: 100px;
    margin-bottom: -100px;
}
