body {
    min-width: 40em;
    margin: 1em 2em;
}

#map{
    margin:2em;
    text-align:center;
}

#contact {
    float: left;
    margin: 1em;
    width:38em;
}

#iscontact{
    float:left;
    margin:3em 3em;
}

#alexcontact{
    margin:1e;
}

big {
    font-size: 1.7em;
}

#header {
    text-align: center;
    font-size: 1.2em;
    padding: .5em 0;
}

h1 {
    margin: 0;
}

#smallTittle {
    font-size: .5em;
}

#header a {
    text-decoration: none;
    color: #e44;
}

#header a:visited {
    text-decoration: initial;
    color: #80a;
}

#main {
    float: left;
    width: 100%;
    background-color: lime;
    padding: 1em;
}

#sidebar {
    float: left;
    width: 11em;
    padding: 0 0.5em;
    background-color: #ff6;
    margin-left: -14em;
    position: relative;
    left: 15em;
}

p {
    margin: 0 0 1em 0;
}

#navDiv {
    float: left;
    width: 11em;
    padding: 0 0.5em;
    background-color: #ddd;
    margin-left: -100%;
    position: relative;
    right: 15em;
    height: auto;
    overflow-y: scroll;
}

#nav {
    color: white;
    margin: 0;
    padding: 0;
    float: none;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a li {
    padding: 0 0.5em;
    margin: 0.1em 0;
}

#nav li:hover {
    border: 0.1em outset white;
}

#nav li:active {
    border: 0.1em inset white;
}

#footer {
    clear: left;
    border-top: 1px solid #369;
}

#wrapper {
    margin: 0 14em 0 12em;
    padding: 0 1em;
    display: relative;
}
