body {
    font-family: nunito, "Open Sans";
    font-size: 130%;
    background: -webkit-linear-gradient(right, #9df, #80d4ff);
    min-width: 550px;
    min-height: 670px;
}

/* latin */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito-Regular'), url(http://fonts.gstatic.com/s/nunito/v7/6TbRXKWJjpj6V2v_WyRbMevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: red;
    font-size: 100%;
    color: white;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0.5s linear, opacity 0.5s linear;
}

/* minesweeper */
#mainDiv {
    display: block;
    width: 500px;
    height: 620px;
    border: solid 2px grey;
    background-color: lightgrey;
    border-radius: 10px;
}

#boardDiv {
    width: 500px;
    height: 500px;
}

#boardDiv button {
    border-radius: 15%;
    padding: 0;
}

#controlsDiv {
    margin: 1.7% 0;
    height: 95px;
}

#startButton {
    width: 100px;
    margin: 1.1%;
    font-size: 100%;
    border-radius: 50px;
}

#infoDiv {
    display: block;
    margin: 2%;
    line-height: 50px;
    text-align: center;
    height: 30px;
}

#lblUserBoardSize, #lblBombPercent {
    display: inline-block;
    margin: 0;
    font-size: 70%;
}

#userBoardSize , #userBombPercent {
    width: 41px;
    height: 28px;
    font-size: 60%;
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

button {
    background: linear-gradient(#F2F4F4, silver);
}

button:hover {
    background: linear-gradient(silver, #F2F4F4);
}

/*  Preloader  */
#loaderBg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #80d4ff;
    -webkit-transition: visibility 0.1s linear, opacity 0.1s linear;
}

#loading {
    display: block;
    position: fixed;
    font-size: 95%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4em;
    height: 1em;
    vertical-align: middle;
    text-align: center;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px transparent solid;
    border-top-color: #009933;
    /*animation*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top-color: #e74c3d;
    /*animation*/
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 100%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    /*animation*/
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* preloader hovershake */
#loader-wrapper:hover:hover {
    animation: shake 1s;
}

@keyframes shake {
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-5px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}
}
