/*css stysheet*/

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* http://stackoverflow.com/questions/9249359/is-it-possible-to-vertically-align-text-within-a-div */
#loading{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size:150%;
	color: #1c1d1e;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width:4em;
	height:1em;
	vertical-align: middle;
	text-align: center;
}

#loader-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	z-index: 1000;	
}
#loader {
	display: block;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 3px transparent solid;
	border-top-color: #3498db;

	/*animation*/
	-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
}

#loader::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	border-radius: 100%;
	border: 3px solid transparent;
	border-top-color: #e74c3d;
		/*animation*/
	-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
}
#loader::after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 100%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
		/*animation*/
	-webkit-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}	
}

/* hovershake */

#loader-wrapper:hover:hover {
   animation: shake 1s;
}

@keyframes shake {
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }

  }
}