html {
    font-family: sans-serif, verdana, arial, "Open Sans";
    background-color: darkblue;
}

body {
    margin: 2em 3em;
    min-width: 42em;
    max-width: 56em;
    background-color: orange;
    border: orangered .2em inset;
}
button{
    margin:0 3em;
    padding: .5em 2em;
    color: orange;
    text-shadow: 2px 2px 5px grey;
    background-color:darkblue;
    border-radius: 1em;
}
h1{
    color:darkblue;
    text-shadow: 2px 2px 5px grey;
}

/* body:hover {
    animation: shake 1s both;
} */

code {
    font-family: monospace;
    font-size: 1.2em;
}

h1 {
    text-align: center;
}

/* @keyframes shake {
    0%  {transform: translate3d(10px ,0,0)}
    10% {transform: translate3d(-20px,0,0)}
    20% {transform: translate3d(20px ,0,0)}
    30% {transform: translate3d(-10px,0,0)}
    40% {transform: translate3d(10px ,0,0)}
    50% {transform: translate3d(-20px,0,0)}
    60% {transform: translate3d(20px ,0,0)}
    70% {transform: translate3d(-10px,0,0)}
    80% {transform: translate3d(10px ,0,0)}
    90% {transform: translate3d(-10px,0,0)}
} */
