html {
    font: 15px verdana, sans-serif;
    background-color: lightblue;
    color: white;
    /*test*/

}

body {
    /* width: 80%; */
    max-width: 60em;
    margin: 2em;
    min-width:32em;
}

h1 {
    font-size: 300%;
}

p {
    text-align:center;
}

#nav {
    color: black;
    margin: 0;
    padding: 0;
    float:none;
}

#nav li {
    display: inline-flex;
    padding: 0 0.5em;
    border-right: 0.07em solid;
}

#nav li a {
    color: inherit;
    text-decoration: none;
}

#special {
    background-color: red;
    color: yellow;
}

#pbm {
    float:left;
    color: black;
    width:25em;
    border-left: yellow inset 1px;
    border-bottom: yellow inset 1px;
    border-top: yellow inset 0.2em;
    border-right: yellow inset 0.2em;
    text-align:justify;
    padding:5em;
    vertical-align:baseline;
}
ul, #numbered {
    float:none;
    color:black;
    text-align:center;
}
h3{
    margin:0;
    text-align:center;
    color:white;
}
