<!DOCTYPE html>
<html>
<head>
	<title>Rails for Zombies</title>
</head>
<body>
<div id="codeschool">
	<a href="https://www.codeschool.com" id="codeschool-logo" rel="internal">Code School</a>
	<ul>
		<li><a href="https://www.codeschool.com" rel="internal">Home</a></li>
		<li><a href="https://www.codeschool.com/code_tv" rel="internal">Code TV</a></li>
		<li><a href="https://www.codeschool.com/account" rel="internal">My Account</a></li>
		<li><a href="https://www.codeschool.com/support" rel="internal">Support</a></li>
	</ul>
	<a href="/users/sign_out" id="codeschool-session" rel="internal">Sign Out</a>
	<a href="https://www.codeschool.com/account" id="codeschool-user" rel="internal">Alexandre Carretero (Alex)</a>
	<h2 id="sidebar-points"></h2>
</div>
<% if flash[:notice] %>
	<div><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>