body{
	background: #aaffaa;
/*	background-image: url("../../../images/dancing-banana.gif"), url("../../../images/background.jpg");
	background-repeat: repeat-y, repeat;
	background-position: left, center;*/
	color: #000000;
 	font-family: sans-serif;
	margin 100px;
	line-height: 1.4em;
}
 
/* alert message */
.alert{
	background-color: #FFFFCC;
	background-image: url(../../../lib/sources/alert000.png), url(../../../lib/sources/dialog-close.png);
	background-repeat: no-repeat;
	text-align:center;

	background-position: 3% 50%, 97% 50%;

	padding: 10px;
	position: fixed;
	top:0;
	left:25%;
	right:25%;
	min-width:230px;
}

#google{
	margin: 0 53.5px;
}

.alert p{
	padding:0;
	margin:0;
}

table {
	width: 80%;
	margin: 0;
	background: #FFFFFF;
	border: 1px solid #333333;
	border-collapse: collapse;
	font-size: 100%;
	min-width:595px;
}
 
td, th {
	border-bottom: 1px solid #333333;
	padding: 6px 16px;
	text-align: left;
}
 
th {
	background: #EEEEEE;
}
 
caption {
	background: #E0E0E0;
	margin: 0;
	border: 1px solid #333333;
	border-bottom: none;
	padding: 6px 16px;
	font-weight: bold;
}

tbody {
	background: #ffffff;
	margin: 0;
	padding: 20px;
	line-height: 1.4em;
	font-family: tahoma, arial, sans-serif;
	font-size: 62.5%;
}

.tfoot {
	text-align: center;
}

#contact-form fieldset {width:40%;}
#contact-form li {margin:10px; list-style: none;}
#contact-form input  {margin-left:45px; text-align: left;}
#contact-form textarea {margin-left:10px; text-align: left;}

.navigation, .navigation li {
  margin:0; 
  padding:0;
}
 
.navigation li {
  border-top: 1px solid white;
  list-style-type:none;
}
 
.navigation li a {
  background: #E2E2E2 url(../../../lib/sources/sprite_gradient_bkg.jpg) repeat-x left center; 
  padding:20px; 
  display:block ;
  font-family: Arial, Helvetica, sans-serif;
  color:#333; 
  font-size:18px; 
  text-decoration:none;
}
 
/* hover effects */
 
.navigation li a:hover, .navigation li a:focus {
  background: transparent none;
}